{
  "gameModsPath": "C:\\Program Files\\Anno 1800\\mods\\custom-player-colors-ewjax",
  "include": [
    "modinfo.json",
    "data\\**\\*.xml",
    "*.html",
    "data\\base\\config\\export\\assets_replace_stock_colors.xml"
  ],
  "exclude": [
    "working\\**",
    "*.psd",
    "*.xcf"
  ]
}
